*{
    margin: 0;
    padding: 0;
}

header{
    display: flex; 
    background-color: rgb(236, 19, 226);
    }
    header ul{
        display: flex;
        gap: 50px;
    }
    header li{
        list-style: none;
    }
    
    